/* color de fondo */
body {
    background-color: #BCFCBA;
    background-image: linear-gradient(56deg, #0CCDA3 0%, #BCFCBA 100%);
    margin: 0;
    padding: 0;
}

/* contenedor sin footer */
.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 15vh;
}

/* texto bienvenid@ */
h1 {
    color: #FFFFFF;
    font-size: 225%;
    text-shadow: 1px 2px 2px #b8b8b8;
    margin: auto
}

/* cuadro gris */
#login {
    display: grid;
    place-items: center;
    width: 55vh;
    height: 70vh;
    background-color: #DFDFDF;
    border-radius: 20px;
}

/* img */
#loginimg {
    width: 131px;
    height: 131px;
}

/* formulario NOTA: cambiar las url de las imagenes*/
input.login {
    width: 100%;
    padding: 8px 12px;
    background-color: #CBCBCB;
    border-color: transparent;
    box-sizing: border-box;
    border-radius: 20px;
}


.input{
    position: relative;
}

input{
    text-indent: 25px;
}

#usericon{
    position: absolute;
    display: block;
    left: 15px;
    top: 33px;
}

#lockicon{
    position: absolute;
    display: block;
    left: 15px;
    top: 33px;

}
/* estos cambian el color de los textos del formulario */
#usuario::placeholder {
    color: #FFFFFF;
}

#contrasena::placeholder {
    color: #FFFFFF;
}

/* estos cambian los iconos */
#usuario input {
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}

#contrasena input {
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}


/* boton */
#boton {
    width: 25vh;
    height: 6vh;
    margin: 4vh;
    background-color: #0CCDA3;
    color: #FFFFFF;
    border-color: transparent;
    border-radius: 20px;
    font-size: 150%;
    text-shadow: 1px 1px 2px #777777;
}

/* footer */
footer { 
    bottom: 0;
    background-color: #ffffff25;
    width: 100%;
    padding: 2vh;
}