
/*Codigo de products*/

#navbarNav{
    margin-left: 180px;
 }

/* color de fondo */
body {
    background-color: #BCFCBA;
    background-image: linear-gradient(56deg, #0CCDA3 0%, #BCFCBA 100%);
    margin: 0;
    padding: 0;
}

/* lo sacamos porque agregamos bootstrap
.catalogo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2vh;
    padding: 2vh;
    margin: auto;
} */

/*.producto {
    background-color: #fff; Fondo blanco para los productos 
    border: 1px solid #ddd;  Borde gris claro 
    border-radius: 20px; /* Bordes redondeados 
    padding: 15px; /* Espacio interno 
    text-align: center;
}*/

#titulo_principal h1 {
    color: #000000;
    font-size: 60px;
    text-shadow: none;
}

/*Tarjeta de Bootstrap*/

.producto img {
    width: 100%; /* Ancho completo del contenedor del producto */
    height: auto; /* Mantiene la proporción de la imagen */
    border-bottom: 1px solid #ddd; /* Línea divisoria debajo de la imagen */
    border-radius: 20px;
}

.titulo_producto {
    background-color: #d9d9d9; /* Fondo para los nombres de productos */
    border-radius: 20px; /* Bordes redondeados */
    width: inherit;
    margin: auto;
    text-align:center;
    margin-top: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.producto h2 {
    color: #FFFFFF;
    font-size: 1.2em;
}

.producto p {
    font-size: 0.9em;
    color: #4d4d4d;
    text-align: center;
}

.precio {
    background-color: #0CCDA3; /* Fondo para los precios */
    border-radius: 20px; /* Bordes redondeados */
    width: 100px;
    height: 30px;
    margin: auto;
}

.precio p {
    color: #fff;
    text-align: center;
 }

/* footer */
footer { 
    bottom: 0;
    background-color: #ffffff25;
    width: 100%;
}
